#root {
 width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.who_we_are_container{
  padding:40px;

}

.carousel{ 
  display:flex;
  max-width:92vw;
  gap:20px;

}
.carousel img{
  width:240px;
  height:240px;
}
.section1{
  padding:20px;
}
.section1 img{
  max-width:145.14px;
  height: 145.14px;

}
.work_with_us{
  padding:174px 200px;
}

@media screen and (max-width:799px){
  #root{ 
    padding:1rem;
  }
}
@media screen and (min-width:800px) and (max-width:1199px){
  #root{
    padding:20px 0px;
  }
}